.post-container {
  grid-column: 2 / 3;
  border-radius: 10px;
  height: max-content;
  background-color: var(--white-color);
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-gap: 20px;
}

.right-sidebar-container {
  border-radius: 10px;
  width: max-content;
  width: 280px;
  position: fixed;
  right: 1rem;
  margin-top: 7rem;
  padding-bottom: 1rem;
  background-color: var(--white-color);
}

.post-content {
  display: flex;
  align-items: center;
}
.post-icon {
  padding: 0.5rem;
  border-radius: 5px;
}
.post-icon:hover {
  background-color: var(--grey-light);
}
