.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  gap: 10px;
  cursor: pointer;
}

.list-container {
  background-color: var(--white-color);
  position: fixed;
  width: 280px;
  padding: 2rem;
  grid-column: 1 / 2;
  border-radius: 5px;
  margin-left: 1rem;
  margin-top: 7rem;
}


