* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #68d391;
  --grey-color: #a0aec0;
  --grey-light: #e2e8f0;
  --black-color: #000000;
  --white-color: #ffffff;
  
}
